<div class="ciandt-ps-login-page">
  <div class="container">
    <div class="row">
      <div class="ciandt-ps-login-page container">
        <img [src]="logoCiandt" [alt]="altLogoCiandt"/>
        <div class="ciandt-ps-login-page container box-login col-xs-12 col-sm-6 text-center">
          <h4>Plano de Sucessão</h4>
          <button class="google-button">
            <img [src]="logoGoogle" [alt]="altLogoGoogle">
            Continue with Google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
